Flask==3.1.0
flask-cors==5.0.1
Flask-JWT-Extended==4.7.1
flask-swagger-ui==4.11.1
marshmallow==3.26.1
yfinance==0.2.54
python-json-logger==3.2.1
apispec==6.8.1
sentry-sdk==2.22.0
nordigen
httpx
tenacity
